
* {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 3em;
}

h2 {
    font-weight: 300;
    font-size: 1.5em;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
